.Note{
    width: 300px;
    min-height: 250px;
    background-color: #FFF793;
    z-index: 500;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);    
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);    
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border-width: 3px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: grid;
    grid-template-columns: 10px 50px auto 50px 10px;
    grid-template-rows: 50px auto 50px;
}
.entryArea{
    overflow:auto;
    grid-row-start:2;
    grid-row-end:2; 
    grid-column-start:2;
    grid-column-end:4;  
    width: 275px;
    display:flex;
    flex-direction: column;
    
}
.NoteEntry {
    
    min-height: 20px;
    width: 260px;
    background-color: #FFF793;
    border: none;
    position:relative;
    display: inline-grid;
    grid-template-columns: 30px, auto, 30px;

    
}

.plus {
    
    
    
    height: 30px;
    width: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-size: 50% 2px,2px 50%; 
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:2;
    grid-column-end:2;
  }

.plus:hover{
    background-color: #5EDA57;
    box-shadow: 0px 8px 15px rgb(67, 180, 59);
    color: #fff;
    transform: translateY(-3px);
}

.closeButton {
    width: 80px;
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:3;
    grid-column-end:3;
    align-self: center;
    justify-self:end;
    
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
        
}
.closeButton:hover {
    background-color: #D44E50;
    box-shadow: 0px 8px 15px rgb(100, 11, 11);
    color: #fff;
    font-weight: 700;
    transform: translateY(-3px);
  }



