.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
    grid-auto-rows: 100px;
  }


@media screen and (max-width: 1000px) {
    .column {
      flex: 28%;
    }
  }

@media screen and (max-width: 700px) {
    .column {
      flex: 45%;
    }
}



@media screen and (max-width: 400px){
 .row {
    flex-direction: column;
 } 
}



